.carousel-section {
  padding: 80px 20px;
  background-color: #132524;
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.2em;
}

.carousel-main-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
}

/* Заголовок с кнопками */
.carousel-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.carousel-room-title {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  min-width: 200px;
}

.carousel-subheader .carousel-button {
  background-color: #FBCA38;
  border: none;
  color: #000000;
  width: 50px;
  height: 30px;
  font-size: 24px;
}

.carousel-subheader .carousel-button:hover {
  box-shadow: 4px 4px 5px black;
  transform: translateY(-2px);
}

.carousel-subheader .carousel-button:active {
  box-shadow: 4px 4px 5px black;
  transform: translateY(-2px);
  background-color: #fce7aa;
}

.carousel-button-prev {
  left: 20px;
  border-radius: 50% 0 0 50%;
}

.carousel-button-next {
  right: 20px;
  border-radius: 0 50% 50% 0;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 50px;
}

.slide-image {
  width: 500px;
  height: auto;
  object-fit: cover;
  border: #0a0a0a;
}

.carousel-button-prev {
  left: 20px;
}

.carousel-button-next {
  right: 20px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.indicator.active {
  background-color: #FBCA38;
  transform: scale(1.2);
}

.indicator:hover {
  transform: scale(1.2);
}

.hotspot {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #FBCA38;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
}

.hotspot-wall {
  left: 40%;
  top: 50%;
}

.hotspot-ceiling {
  left: 50%;
  top: 15%;
}

.hotspot-floor {
  left: 50%;
  top: 90%;
}

.annotation-wall {
  left: 40%;
  top: 50%;
}

.annotation-ceiling {
  left: 50%;
  top: 15%;
}

.annotation-floor {
  left: 50%;
  top: 90%;
}

.hotspot:hover {
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%) scale(1.1);
}

.hotspot.active {
  background: #FBCA38;
  transform: translate(-50%, -50%) scale(1.2);
}

.hotspot-icon {
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.hotspot.active .hotspot-icon {
  transform: rotate(45deg);
}

/* Аннотации */
.annotation {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 20;
  pointer-events: none;
}

.annotation.active {
  opacity: 1;
  visibility: visible;
}

.annotation-line {
  position: absolute;
  background: #FBCA38;
  width: 0;
  height: 2px;
}

.annotation-wall .annotation-line {
  transform-origin: left center;
  right: 0;
}

.annotation-ceiling .annotation-line {
  transform-origin: right center;
  left: 0;
}

.annotation-floor .annotation-line {
  transform-origin: right center;
  left: 0;
}

.annotation-floor.active .annotation-line,
.annotation-ceiling.active .annotation-line {
  width: 280px;
}

.annotation-floor.active .annotation-line {
  width: 150px;
}

/* Анимация появления */
@keyframes drawLine {
  from {
    width: 2px;
  }
  to {
    width: 280px;
  }
}

@keyframes drawShortLine {
  from {
    width: 2px;
  }
  to {
    width: 150px;
  }
}

.annotation-floor.active .annotation-line,
.annotation-ceiling.active .annotation-line {
  animation: drawLine 0.5s ease forwards;
}

.annotation-wall.active .annotation-line {
  animation: drawShortLine 0.5s ease forwards;
}

.annotation-content {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #FBCA38;
  min-width: 250px;
  max-width: 300px;
  text-align: left;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 30;
}

.annotation-content h3 {
  color: #FBCA38;
  margin-bottom: 10px;
  font-size: 20px;
}

.annotation-content p {
  color: white;
  font-size: 16px;
  margin: 0;
}

/* Позиционирование для разных типов точек */
.annotation-wall .annotation-content {
  right: 150px;
  top: 50%;
  transform: translateY(-50%);
}

.annotation-floor .annotation-content {
  left: 280px;
  top: 50%;
  transform: translateY(-80%);
}

.annotation-ceiling .annotation-content {
  left: 280px;
  top: 50%;
  transform: translateY(-20%);
}

.annotation.active .annotation-content {
  opacity: 1;
  transition: all 0.3s ease 0.5s;
}

/* Адаптивность */
@media (min-width: 800px) and (max-width: 1024px) {
  .carousel-main-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .carousel-subheader .carousel-button {
    font-size: 22px;
  }

  .slide-content {
    padding-top: 40px;
  }

  .hotspot {
    width: 40px;
    height: 40px;
  }

  .annotation-wall {
    left: 30%;
    top: 50%;
  }

  .hotspot-wall {
    left: 30%;
    top: 50%;
  }

  .annotation-floor.active .annotation-line,
  .annotation-ceiling.active .annotation-line {
    width: 150px;
  }

  .annotation-floor.active .annotation-line {
    width: 40px;
  }

  @keyframes drawLine {
    from {
      width: 2px;
    }
    to {
      width: 150px;
    }
  }

  @keyframes drawShortLine {
    from {
      width: 2px;
    }
    to {
      width: 40px;
    }
  }

  .annotation-content {
    padding: 15px;
    min-width: 150px;
    max-width: 250px;
  }

  .annotation-content h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .annotation-content p {
    font-size: 14px;
  }

  .annotation-wall .annotation-content {
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
  }

  .annotation-floor .annotation-content {
    left: 150px;
    top: 50%;
    transform: translateY(-80%);
  }

  .annotation-ceiling .annotation-content {
    left: 150px;
    top: 50%;
    transform: translateY(-20%);
  }
}

@media (max-width: 799px) and  (min-width: 600px){
  .carousel-main-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .carousel-room-title {
    font-size: 16px;
    min-width: 200px;
  }

  .carousel-subheader .carousel-button {
    font-size: 16px;
  }

  .slide-content {
    padding-top: 30px;
  }

  .slide-image {
    width: 300px;
    height: auto;
    object-fit: cover;
    border: #0a0a0a;
  }

  .hotspot {
    width: 40px;
    height: 40px;
  }

  .annotation-floor {
    left: 50%;
    top: 85%;
  }

  .hotspot-floor {
    left: 50%;
    top: 85%;
  }

  .annotation-ceiling {
    left: 50%;
    top: 20%;
  }

  .hotspot-ceiling {
    left: 50%;
    top: 20%;
  }

  .annotation-wall {
    left: 40%;
    top: 45%;
  }

  .hotspot-wall {
    left: 40%;
    top: 45%;
  }

  .annotation-floor.active .annotation-line,
  .annotation-ceiling.active .annotation-line {
    width: 150px;
  }

  .annotation-floor.active .annotation-line {
    width: 40px;
  }

  @keyframes drawLine {
    from {
      width: 2px;
    }
    to {
      width: 150px;
    }
  }

  @keyframes drawShortLine {
    from {
      width: 2px;
    }
    to {
      width: 40px;
    }
  }

  .annotation-content {
    padding: 10px;
    min-width: 150px;
    max-width: 200px;
  }

  .annotation-content h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .annotation-content p {
    font-size: 14px;
  }

  .annotation-wall .annotation-content {
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
  }

  .annotation-floor .annotation-content {
    left: 150px;
    top: 50%;
    transform: translateY(-90%);
  }

  .annotation-ceiling .annotation-content {
    left: 150px;
    top: 50%;
    transform: translateY(-10%);
  }
}

@media (max-width: 599px) {
  .carousel-main-title {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .carousel-room-title {
    font-size: 12px;
    min-width: 200px;
  }

  .carousel-subheader .carousel-button {
    font-size: 12px;
  }

  .slide-content {
    padding-top: 16px;
  }

  .slide-image {
    width: 200px;
  }

  .hotspot {
    width: 20px;
    height: 20px;
  }

  .hotspot-icon {
    font-size: 10px;
  }

  .annotation-floor {
    left: 50%;
    top: 85%;
  }

  .hotspot-floor {
    left: 50%;
    top: 85%;
  }

  .annotation-ceiling {
    left: 50%;
    top: 20%;
  }

  .hotspot-ceiling {
    left: 50%;
    top: 20%;
  }

  .annotation-wall {
    left: 35%;
    top: 45%;
  }

  .hotspot-wall {
    left: 35%;
    top: 45%;
  }

  .annotation-floor.active .annotation-line,
  .annotation-ceiling.active .annotation-line {
    width: 60px;
  }

  .annotation-floor.active .annotation-line {
    width: 40px;
  }

  @keyframes drawLine {
    from {
      width: 2px;
    }
    to {
      width: 40px;
    }
  }

  @keyframes drawShortLine {
    from {
      width: 2px;
    }
    to {
      width: 20px;
    }
  }

  .annotation-content {
    padding: 5px;
    min-width: 50px;
    max-width: 80px;
  }

  .annotation-content h4 {
    margin-bottom: 5px;
    font-size: 10px;
    text-align: center;
  }

  .annotation-content p {
    font-size: 9px;
    padding: 3px;
  }

  .annotation-wall .annotation-content {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .annotation-floor .annotation-content {
    left: 40px;
    top: 50%;
    transform: translateY(-90%);
  }

  .annotation-ceiling .annotation-content {
    left: 40px;
    top: 50%;
    transform: translateY(-10%);
  }
}

